[submodule "Core"]
	path = Core
	url = https://github.com/MemoriesOfTime/Nukkit-MOT.git
[submodule "McJava"]
	path = McJava
	url = https://github.com/ViaVersion/ViaProxy.git
[submodule "McBeta"]
	path = McBeta
	url = https://github.com/ViaVersionAddons/ViaProxyBeta2Release
[submodule "EaglerCraft"]
	path = EaglerCraft
	url = https://github.com/ayunami2000/ayunViaProxyEagUtils
[submodule "ClassiCube"]
	path = ClassiCube
	url = https://github.com/Creadores-Program/Barrel-CREA-Classic
[submodule "McPocket-0_15_x-java"]
	path = McPocket-0_15_x-java
	url = https://github.com/Creadores-Program/DragonProxyPocket.git
[submodule "McPocket-0_15_x"]
	path = McPocket-0_15_x
	url = https://github.com/Creadores-Program/Craftsmine.git
[submodule "Discord"]
	path = Discord
	url = https://github.com/PetteriM1/DiscordChat.git
[submodule "McLegacy"]
	path = McLegacy
	url = https://github.com/brokiem/voxelbridge.git
